# Construire un arbre de décision à partir d’unensemble d’apprentissage.

## Mesure de l’information
* Si on a n classes (C1, C2,.., Cn) de probabilités respectives p1, p2,.., pn, la quantité d’information relative à la connaissance de<br> **l’entropie d’information:** <br> <big>I = $\sum_{i=1}^{n} -p_i$ $\log_{2} p_i$</big>
* I = 0 quand appartient à i/ pi = 1 (une seule classe).
* I est maximale quand appartient à i/ pi = 1/n (classes équiprobables).

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import log2

In [16]:
df = pd.read_excel('predictiondecredit.xlsx')

In [17]:
df

   Revenu  Propriete Credit non remboursé Classe
0   Elevé  Supérieur                  Non     C1
1   Elevé  Supérieur                  Oui     C2
2   Elevé  Supérieur                  Non     C1
3   Elevé  Inférieur                  Oui     C2
4   Moyen  Supérieur                  Non     C1
5   Moyen  Supérieur                  Oui     C2
6   Moyen  Inférieur                  Non     C2
7   Moyen  Inférieur                  Oui     C2
8  Faible  Inférieur                  Non     C3
9  Faible  Inférieur                  Oui     C3

![première image](1.png)

In [28]:
def infoT(data, classe='Classe'):
    T = list(df[classe].value_counts())
    resultat = 0
    for i in T:
        resultat += (i/len(df)) * log2((i/len(df)))
    resultat *=(-1)
    resultat = '{:2.3f}'.format(resultat)
    return np.float64(resultat)

In [29]:
infoT(df)

1.485

In [166]:
def info_attributes(df, classe='Revenu'):
    resultat = 0
    for i in df[classe].value_counts().index:
        fr = 0
        fr += df[classe].value_counts()[i] / len(df) 
        print('{}/{}'.format(df[classe].value_counts()[i] , len(df[classe].value_counts()[i].)))
        resultat +=fr*log2(fr)
    resultat *=(-1)
    resultat = np.float64('{:.3f}'.format(resultat))
    return resultat

In [172]:
# info_attributes(df)
df['Revenu'].value_counts()['Moyen']

4

In [160]:
info_attributes(df, classe="Propriete")

5/10
5/10

1.0

In [161]:

info_attributes(df, classe="Credit non remboursé")

5/10
5/10

1.0

In [193]:
f = df[df[df.loc[:, ['Revenu']]=='Elevé'].isnull() != True]

In [196]:
f

  Revenu Propriete Credit non remboursé Classe
0  Elevé       NaN                  NaN    NaN
1  Elevé       NaN                  NaN    NaN
2  Elevé       NaN                  NaN    NaN
3  Elevé       NaN                  NaN    NaN
4    NaN       NaN                  NaN    NaN
5    NaN       NaN                  NaN    NaN
6    NaN       NaN                  NaN    NaN
7    NaN       NaN                  NaN    NaN
8    NaN       NaN                  NaN    NaN
9    NaN       NaN                  NaN    NaN